body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'EB Garamond', serif;
    font-family:'Libre Baskerville', serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    list-style-type: none;
    margin-right: 50px;
}
